# This file is used to install the required packages for the project.
# It is recommended to use a virtual environment to avoid conflicts with other projects.
ffmpeg-python
streamlit>=1.31.0
torch>=2.1.0
torchaudio>=2.1.0
speechbrain>=0.5.15
pydub>=0.25.1
huggingface_hub
yt_dlp
